//Colors
$bck-color-primary: #e5e7eb;
$bck-color-secondary: #6d747d;
$bck-color-button: #3b82f6;
$bck-color-header-footer: #1f2937;
$underline-color-button: #3b82f6;
$underline-color-button-dashed: #3b82f6;

//Condition
$admin: true;
